.TournamentLocal-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #3F4054;
}

.TournamentLocal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #636987;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

input{
  width: 160px;
  height: 32px;
  border: none;
  border-radius: 6px;
  padding-left: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #3F4054;
  color: #D5CFCF;
  font-weight: bold;
  /* outline:none; */
  outline-color: #D5CFCF;
}

input::placeholder{
  color: #D5CFCF;
  font-weight: lighter;
}

.start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    color: #3F4054;
    border: none;
    background-color: #D5CFCF;
    /* width: 100px; */
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}

.errorMessage {
  color: rgb(230, 41, 41);
  text-align: center;
}

/* .start-button:hover{
  background-color: #b2ff00;
} */

  /* .side-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: right;
    flex: 1;
    padding: 20px;
  } */
  
  /* .TournamentLocal-icon {
    width: 80px;
    height: 80px;
    background-color: #c4c4c4;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .name-l {
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    border-bottom: 2px solid white ;
    background-color: #535379;
  }
  .name-r {
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    border-bottom: 2px solid white ;
    background-color: #2f2e47;
  }

.edit-icon {
  transform: translate(-15px);
  color: white;
  cursor: pointer;
}

.vs {
  display: flex;
  align-items: center;
  justify-content: center;
}  

.TLv {
  font-size: 9em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #535379;
  margin: 0 20px;
  transform: translate(16px, 2px);
}
.TLs {
  font-size: 9em;
  font-weight: bold;
  font-family:  'Montserrat', sans-serif;
  color: #2f2e47;
  position: relative;
  transform: translate(-39px, 59px);
} */
  
/* .FVsF-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translate(-450px, 300px);
} */


