
.TwoVsTwo-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 95vw;
  background: linear-gradient(110deg, #2f2e47 50%, #535379 50%);
  }
  
  .TwoVsTwo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    flex: 1;
    padding: 20px;
  }
  
  .TwoVsTwo-icon {
    width: 80px;
    height: 80px;
    background-color: #c4c4c4;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .TwoVsTwo-name {
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #b2ff00;
  }
  .vs {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .TWs {
    font-size: 9em;
    font-weight: bold;
    font-family:  'Montserrat', sans-serif;
    color: #2f2e47;
    position: relative; /* or absolute/fixed depending on your layout */
    transform: translate(-49px, 69px);
  }
  .TWv {
    font-size: 9em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #535379;
    margin: 0 20px;
    transform: translate(16px, 2px);
  }
  
  .TwoVsTwo-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-24px, 250px);
  }
  
  .TwoVsTwo-b {
    position: absolute;
    bottom: 20px;
    width: 200px;
    padding: 10px 20px;
    background-color: #b2ff00;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .Play {
    font-size: 18px;
    font-weight: bold;
    color: #33384b;
    padding: 10px;
    
  }
  