.app-container {
  display: flex;
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  /* border-radius: 4px; */
}

.page-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #3F4054;
  min-height: 100vh;
}
